# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# MonoDevelop/Xamarin Studio
*.userprefs

# Visual Studio
.vs/

# Build results
[Bb]in/
[Oo]bj/

# Logs and test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# IDE settings
.idea/
.vscode/

# Temp and backup
*.tmp
*.log
*~
*.code-workspace
